[2015-05-27 12:20] pmario opened #1 "More examples needed"
Nice plugin. Well done!

IMO from the help text alone, you don't get the possibilities.

[2015-05-27 12:27] pmario opened #2 "suggestion: created / modified should not be used to draw tiddlers as bars"
eg: If I create a tiddler today it creates a very tiny bar with no text. Only if I set created and modified to the exact same timestamp I get a "dot" with the tiddler name.

If I create a tiddler today and modify it in one year, it will create a very long bar.

IMO this behaviour should be revised.

[2015-05-27 12:33] pmario opened #3 "confusing error popup looks like crash popup"
To reproduce:

Change content of `Demonstration` tiddler to

[code]

[2015-05-27 12:41] pmario opened #4 "feature request: timeline x-position and zoom level should be persistent"
As the title says: It would be nice if: timeline x-position and zoom level should be persistent

[2015-05-27 18:16] kixam commented on #3
Thank you for your comment.

If you look closely, it is not a final and general crash, but rather an error message with the list of issues the plugin found in your call. In emkay's plugin which I continued, errors were permanently and statically displayed above the timeline, and I wanted the user to be able to discard an error message and see what worked even if something went wrong.

Now then, I

[2015-05-27 18:26] kixam commented on #1
Thank you for your comment.

Actually, you get most of them... maybe it is even confusing because this one example shows too many features at once.

I will look into improving the demo site, but at the moment, you get everything on a (PC) screen, and I fear if I add more examples I will have to structure the site a lot, and information will get diffused.

If you feel like making a better demo site

[2015-05-27 18:33] kixam commented on #2
Thank you for your comment.

Actually, it is up to you to specify other fields for the widget to use, by passing startDateField and/or endDateField parameters to the widget.

Also, endDateField is optional, and if it is not specified, you will only get "dot" type items in your timeline, and no "bar" type, as only one date will be used.

[2015-05-27 18:33] #2 closed

[2015-05-27 18:36] kixam commented on #4
Thank you for your comment.

It seems feasible but a bit difficult. Also, you might want to take into account how to render any modification on the timeline due to an external event (add/remove tiddler, change some date, ...) - or not. I might investigate.

[2015-05-28 22:55] pmario commented on #2
If I use: `<$visjstimeline endDateField="modified" groupTags="[[Group A]]" startDateField="created"  navpad>`

it doesn't work. ... This issue is closed. should I open a new one?

[2015-05-29 06:41] kixam commented on #2
Please describe what does not work to you in more details.

According to your example, I think you might have posted in the wrong thread. Did you mean to post in issue #3 ?

[2015-05-30 15:07] pmario commented on #2
Using: `<$visjstimeline endDateField="modified" groupTags="[[Group A]]" startDateField="created" navpad>`  I did expect, that every element in the timeline is just a dot.

You wrote, that `endDateField` is optional. Since every tiddler has a created field, there should be just dots. right?

[2015-05-30 18:27] kixam commented on #2
hi @pmario

if you do not want any bars, but only dots, you should not use the `endDateField` parameter at all, like so:

`<$visjstimeline groupTags="[[Group A]]" startDateField="created" navpad>`

or, since `startDateField` has value `created` by default, in this case the following would give you the same result:

`<$visjstimeline groupTags="[[Group A]]" navpad>`

[2015-05-30 22:14] pmario commented on #2
hi, I'm sorry. I completely missed the endDtateField definition in my wildget call. I did expect the parameter at the end of the call. I just didn't see it. :)

[2015-06-02 15:20] felixhayashi opened #5 "Plugin path"
Hi @kixam

would you mind renaming your directory path `plugins/visjsTimeline` into `plugins/timeline` so it matches with the prefix you also use in your tiddler titles? (Same for `kixam/momentjs` vs. `kixam/moment`). It confused me when I wanted to add the plugins to my tiddlywiki.info file...

Thanks!

-Felix

[2015-06-02 15:40] felixhayashi opened #6 "Moving v4 github files to separate branch?"
Hola Kixam,

just noticed that using the github version on master you already switched to Vis v4.0

So I guess I need to install the plugin via drag n drop from your demo then...

Just if you find the time it would be nice if you could move the commits starting from https://github.com/kixam/TW5-visjsTimeline/commit/c662067e2ae805b47585494d05d885687763f700 to a separate "develop" branch or "v4"? I

[2015-06-02 15:59] kixam commented on #6
Hi @felixhayashi

Actually I moved on to vis 4.1.0, but like promised, I did not push the index.html on gh-pages branch, so the main website is still back in 3.12.0.

Honestly, I do not want to develop new features for a deprecated vis.js, even less since the API changed so much.

But I agree it is confusing to keep new features in the master branch, as the vis.js 4.1.0 plugin is not yet officiall

[2015-06-02 16:11] kixam commented on #5
done in 4a791961ee3c0c1d44672a22a88abf975cfb5d2d

[2015-06-02 16:11] #5 closed

[2015-06-02 16:13] felixhayashi commented on #5
thanks

[2015-06-02 16:28] felixhayashi commented on #6
No of course not! this is not what I meant. Just wanted to highlight that people who try to install from git will be facing errors.

I think you'll need to checkout your current repo as new branch (e.g. "v4") and then make master point to the 6.0.0 commit (git reset --hard). But I am also not a git guru :D Better verify, make backups and if it is too cumbersome, please just ignore my issue!

[2015-06-02 16:35] #3 closed

[2015-06-02 16:58] kixam commented on #6
I'm sorry, after some investigation, it seems to be a hassle. Creating a new branch from an old commit is piece of cake, but then it is not possible to delete commits from the master branch, so I should have to create a "mirror commit" that would revert all commits in master back to c662067e2ae805b47585494d05d885687763f700, but it will be very confusing to everyone, even me... especially when I wi

[2015-06-02 17:13] felixhayashi commented on #6
Ah that sucks. Sorry for asking then. I think the options you offered in your last post are fine.

[2015-06-02 17:13] #6 closed

[2015-06-02 17:37] felixhayashi opened #7 "Option Management + Allowing to define the granularity/scale of the time axis"
It would be nice if the granularity of the time axis could be defined via attribute.

Property "timeAxis" @ http://visjs.org/docs/timeline/#Configuration_Options

One Idea for option management would be to allow the user to reference json tiddlers that are then injected using `setOptions` at instantiation time.

So a user creates a tiddler named "MyTimelineConfig"

    {
      "clickToUse": true,

[2015-06-02 19:24] kixam commented on #7
Hi @felixhayashi

Thank you for your suggestion.

I think that, from a TiddlyWiki user's viewpoint, the feature of presetting the granularity is close to the feature proposed in #4. Actually, to implement #4, I was thinking of creating fields in the containing tiddler such as `timeaxis:start` and `timeaxis:end`, which would, together with the available width, automatically and smoothly decide the

[2015-06-02 20:15] felixhayashi commented on #7
Hi @kixam

Problem here is that I want to display always the current time ("now") but just on a finer grained scale. WIth your proposed solution, this would mean I always have to change `timeaxis:start/end` just to adjust the scale.

That is reasonable but I think that you will encounter a bunch difficulties with this strategy:
- How to deal with nested vis.js options like margin? You will have to

[2015-06-03 06:37] kixam commented on #7
Hi @felixhayashi

Thank you, now I understand how different from #4 this is: it is the opposite indeed.

I suppose I will have to find strategy that is half way then. I could filter verified options from the JSON tiddler before I forward them to vis.js maybe? Like a white list. Or a black list maybe. This would definitely solve both #4 and #7, and introduce a lot more possibilities all at once, bu

[2015-06-03 09:33] felixhayashi commented on #7
Hi @kixam

Yap, I agree.

I do the same for TiddlyMap. For example, in case of the network's "manipulation bar".

I make a deepcopy of the user options (loaded from a json tiddler): https://github.com/felixhayashi/TW5-TiddlyMap/blob/master/src/plugins/felixhayashi/tiddlymap/widget.map.js#L688

But override the "manipulation" property based on whether the user added the editor attribute to the widg

[2015-06-04 18:27] kixam commented on #7
Fixed in 840128ed0f88648dbd7c4fd5bb03580265f656ef, please test and report bugs!

[2015-06-04 18:40] felixhayashi commented on #7
Nice, thanks. I cannot test it now but as soon as I switched to vis v4 I'll report back!

[2015-06-05 15:10] kixam commented on #4
fixed by 9c3f6635558118a201833df352c92a6cda0fd57d

[2015-06-05 15:10] #4 closed

[2015-06-05 20:31] pmario commented on #4
thx

[2015-06-19 20:20] kixam commented on #1
improved (enough?) by ddd10a6c781a508fce44d7ae9ead8ec13106f9eb

[2015-06-19 20:20] #1 closed

[2015-06-24 18:38] felixhayashi opened #8 "ready for vis v4"
Hi @kixam

just released tiddlymap with vis v4 and updated the vis plugin repo.

You are good to go ;)

Thanks for the patience!

-Felix

[2015-06-25 19:57] kixam commented on #8
thanks, I updated the plugin and the demo site
however, for convenience, I kept my version of vis.js plugin that I compiled from their master branch. I saw you compiled your official plugin from develop branch. I assume there are not many differences?

[2015-06-25 21:45] felixhayashi commented on #8
Hi @kixam,

Nice! I am curious to use it and enjoy all the improvements you made :)

I put the develop version on my repo because the develop branch solved some major issues for the network module. Maybe it is better to clone my vis repo and include it than recompiling it? So if I do some changes to the plugin e.g. add a custom css style for the network module our vis plugins do not conflict...

-

[2015-06-26 18:07] kixam commented on #8
Your plugin is the reference for the public, but I have been using vis.js 4.3.0 since it was released so I did not bother downloading your updated plugin, that's all. I will resume doing so at the next release.

[2015-07-01 10:55] felixhayashi opened #9 "Silently ignore no-start-date cases"
Hi @kixam

I get the same error as described by Sylvain Naudin

https://groups.google.com/d/msg/tiddlywiki/UpxfVI5Zxg8/_88KBoJlNocJ

In my opinion if a tiddler doesn't have a startField (e.g. sometimes the modified field is missing but I use it as start date) it is better to just ignore/skip this tiddler instead of raising an error.

https://github.com/kixam/TW5-visjsTimeline/blob/3264e9990065df43

[2015-07-01 13:24] kixam commented on #9
hi @felixhayashi

In the event an error, for instance the one you encounter, a blue error popup should show, that you can discard. Then the timeline shows, without these tiddlers that raised errors.

This is compliant with emkay's plugin behavior.

Now then, we can deviate from that. But I believe the users would like to know where these tiddlers that match the filter go, if they are not shown on

[2015-07-01 14:03] silvyn commented on #9
Thanks @felixhayashi for opening this issue.
@kixam I've updated from 0.6.0 to 0.7.0, and now I've got the blue error popin (was red before).

Maybe I've not anderstand how to add date field correctly. Can you give me an example with value start and end ?

Thanks,
Sylvain

[2015-07-01 15:50] felixhayashi commented on #9
Hi @kixam

I understand your point, but often tiddlers just haven't been modified. Still if the user wants to use the timeline plugin with "startDate" being "modified", should the user always give all tiddlers a modified field to avoid being confronted with alerts? Also, how should the user solve this? Opening the tiddler and add a modification date manually (in a difficult format; unfortunately n

[2015-07-02 08:46] kixam commented on #9
Hi @silvyn ,

Like @felixhayashi said, `created` and `modified` fields are automatically and transparently handled by TiddlyWiki, so you should not have to do anything to create/modify them. Actually, you should not modify them manually.

Also, by default i.e. if you call the widget without attributes, e.g. `<$visjstimeline />`, the start date field is set to `created`, and no end date field will

[2015-07-02 08:48] #8 closed

[2015-07-02 08:50] felixhayashi commented on #9
No, he wants to wait until it is natively supported by browsers...

[2015-07-03 08:52] Jermolene commented on #9
That's only for the core; what I'd really love for the moment is a plugin that provides a decent date/time picker.

[2015-07-03 12:06] felixhayashi commented on #9
Hi @Jermolene

Oh, sorry for misundersting your point then and thanks for clarifying.

[2015-07-04 17:56] kixam commented on #9
Fixed in f08deb4505c13e3fb79b828a0e041f7a420cdec0

[2015-07-04 17:57] #9 closed

[2015-07-06 20:05] silvyn commented on #9
Thanks @kixam, I've just test 0.7.2 and can play successfully :)
(like $:/temp/visjstimeline-warning/nametiddler which help user where he has forget something).

[2015-07-06 20:44] kixam commented on #9
hi @silvyn ,

thank you for your feedback :)

[2015-07-06 20:48] kixam commented on #7
hi timeline users,

has anybody tested this feature yet in their own production environment? it is difficult to test all the possible option combinations in all possible situations by just one person.

at least I would appreciate if someone told me this work was useful to them?

[2015-07-06 21:21] silvyn opened #10 "i18n config"
Hello @kixam, I'm wondering how to configure i18n to configure TW5-visjsTimeline in French.

I have a quick look on http://momentjs.com/docs/#/i18n/ but I don't really know how to..

Thanks for your help.

[2015-07-06 21:38] silvyn commented on #9
Oh ! Sound great TW5-datePicker @kixam !
https://github.com/kixam/TW5-datePicker

(poke @Jermolene)

[2015-07-06 22:12] silvyn commented on #10
Well, I just add French TW plugin, and my timeline is in French.. So I think I can close this thread ?

[2015-07-07 06:57] kixam commented on #10
Yes, this feature was added in v0.7.2 :)

[2015-07-07 06:57] #10 closed

[2015-07-07 07:01] kixam commented on #9
the datePicker plugin is not yet functional, please be patient!

[2015-07-07 12:08] felixhayashi commented on #7
Hi @kixam

Sorry for not giving feedback.

I just updated to 0.7.2 and got the following error:

Which points at this line of code:

[code]

-Felix

[2015-07-07 12:50] kixam commented on #7
Hi @felixhayashi ,

I also found this error in some situations, but I cannot yet determine which. Do you use the calendar as a sidebar panel? In my case, I had this error while trying to show the sidebar, but showing the original tiddler in the story was fine. This would be a good lead, but what confuses me is that the demo site works well where my private TW does not, and I cannot find the differ

[2015-07-07 13:00] felixhayashi commented on #7
Hi @kixam

you are right. It happens because the variable currentTiddler is not set in the sidebar. if you add `<<currentTiddler>>` to a tiddler and have it displayed in the sidebar, the value is empty.

-Felix

[2015-07-07 14:35] kixam commented on #7
well, if I cannot get to a tiddler, I might have to make a few changes to some of the functions...

I still hope I can get the original containing tiddler, even from the sidebar. I just have to find another way.

anyway, thank you for the feedback.

[2015-07-07 15:30] kixam opened #11 "Fatal error when trying to show containing tiddler as sidebar panel"
Four cases:
* tiddler containing `<$visjstimeline ... />` is displayed in story : :+1:
* tiddler A, containing `<$visjstimeline ... />`, is transcluded in tiddler B, which is displayed in story : :+1:
* tiddler A, containing `<$visjstimeline ... />`, is transcluded in tiddler B, which is displayed in sidebar : :+1:
* tiddler containing `<$visjstimeline ... />` is displayed in story : :-1:

[2015-07-07 15:36] kixam commented on #11
Fixed in 4cf58a77140580926db5aa3b2ab337fd30ec643f

[2015-07-07 15:38] kixam commented on #7
fixed, see #11

please continue testing the `config` attibute, I need your feedback on this one !

[2015-07-07 16:24] kixam commented on #11
fixed by 0a7329745ddcb8d963de93e4fa6a56b8afa1360a

[2015-07-07 16:24] #11 closed

[2015-07-07 16:25] kixam commented on #7
Please see #11

Please resume testing option `config`, I need your feedback :)

[2015-07-07 16:31] felixhayashi commented on #7
Hi @kixam

Nice. It's fixed!

of course. I just wanted to wait till you fix the dialog about the missing stardate field :)

[2015-07-07 16:32] felixhayashi commented on #9
@kixam

Very nice solution with the red warning icon!

-Felix

[2015-07-07 16:34] kixam commented on #9
thanks, feel free to get inspiration from it for your own needs ;)

[2015-07-07 16:53] kixam commented on #10
hi @felixhayashi, I remember you were interested in localization, but maybe you did not see this thread, because I expected a comment from you on this ;)

I implemented implicit locale support from moment.js, based on selected language on TW5. Indeed, regarding date and time, it is not simply about translation of words: formats (grammar) has to be taken into account as well.

There are 2 limitatio

[2015-07-07 17:12] felixhayashi commented on #10
That is a great idea. I can do the same for the network module, its possible there as well. But the problem is I have many tw-dialogs that are not translated. I'll wait another year with adding translation-features to tiddlymap :)

austrians (de-AT) should be able to understand normal german (de-DE) :D Maybe if a locale doesn't match a tw-locale just use english as fallback...

[2015-07-07 17:33] felixhayashi opened #12 "Persistent option will reload graph which prevents y scrolling"
Hi @kixam

the persistent option is a great feature!!

The problem is, the graph reloads once dragndrop stops and when I moved the y axis it immediately gets reset. Maybe set a flag in the widget instance where the drop action occurs that prevents a refresh for this widget because it is not necessary to reload the widget/options in this case...

Thanks
-Felix

[2015-07-07 17:46] felixhayashi opened #13 "Start with zoom (custom granularity) on "now""
Hi @kixam

I would really like to start with "now" being focussed and have a certain zoom level at the same time.

E.g. start with "now" and granularity "hours". I had a look at the vis options and this is not possible out of the box. The only way to achieve it is by setting start and end dates of the window (see https://github.com/almende/vis/issues/144). Would it be possbile to have a TW5-visjsT

[2015-07-07 17:53] kixam commented on #10
This is what happens already

Actually, if you select de-AT in TW5, the plugin should display German dates ;) it is because I implemented the feature in a lazy way :p

[2015-07-07 17:56] kixam commented on #12
thank you for finding this bug

unfortunately, it might be a difficult one... vertical position is not accessible via vis.js at all, so I might have to tweak a lot, maybe for a poor result... Anyway, I will look into this.

[2015-07-07 18:00] felixhayashi opened #14 "timeline:start timeline:end characters"
Hi @kixam

I suggest you name it `timeline.start` `timeline.end` as colons are not allowed: http://tiddlywiki.com/#TiddlerFields. Colons become really problematic if you think about how tiddlywiki saves fields in node.js using the *.tid format: `name:value` so it would save `timeline:start: 2015-07-09T16:40:59+02:00`. And what happens at next loading? It will render as fieldname `timeline` and val

[2015-07-07 18:05] felixhayashi commented on #10
You mean only parsing the first two letters of the locale? I would have done the same... who cares about dialects :)

[2015-07-07 18:07] kixam commented on #10
the only exception to this is Chinese, because it seems to me there is a big difference (visually at least), but yes ;)

[2015-07-07 18:14] kixam commented on #14
I don't know, it works for me for another purpose (no relation to this plugin), and it is a good way to make sure no normal user can create the field (=> no confusion with user's fields).

Also, it seems to work for timeline plugin so far.

I agree it might be a dangerous game to play though. I will think about it.

[2015-07-07 18:16] felixhayashi commented on #12
As said above, when persistent is active, an option is to set a flag `this.doNotRefresh = true` after the timeline viewport was moved. And inside `refresh()` check for this flag and set it to `false` after the next refresh. Then only widgets (in the river) will be refreshed where the viewport wasn't dragged.

I use a variant of this technique for tiddlymap to avoid viewport resets when a node was

[2015-07-07 18:18] kixam commented on #13
Hi @felixhayashi ,

Do you mean I should develop a feature not available in a backend library, into the frontend library ?? This is against by developing beliefs and code of good programming.

This is unfortunate you cannot do maths, and in this case date maths, with TW5. I think you will have to write a small javascript macro for your need.

However, I might take this need into account for the de

[2015-07-07 18:24] felixhayashi commented on #14
I agree. I would love to use colons like you do since it looks like a beautiful namespace but it creates big trouble with node.js

Nope. With the widget running in node.js (many people do it) it doesn't work. it will append "start" to the time when reloading.

Yeah dangerous!!

![1c18235e43011a05ef680fb81435bab2](https://cloud.githubusercontent.com/assets/4307137/8553783/0ba2cdd8-24e6-11e5-8a50-24

[2015-07-07 18:33] felixhayashi commented on #13
Noo, its very available in a backend library! But it requires javascript which I cannot use as a widget user. E.g. setting granularity to "hour" would require you to create a startdate=now-1hour and enddate=now+1hour.

Yes, this would be a solution as well. I could write a macro that calculates start and end dates based on "now". I just thought it is a common feature that makes sense being support

[2015-07-07 18:55] kixam commented on #14
I still need to figure out how to run TW5 in server mode under node.js or nw.js ... seems to be a prerequisite to solving this one. about time too. I needed a good excuse I guess (or a kick in the butt?). there I am.

[2015-07-07 18:57] kixam commented on #12
Thanks for the vote of trust, I wish I was as confident as you are!

[2015-07-07 19:14] kixam commented on #13
What about as a macro writer and user? I mean [javascript macros](http://tiddlywiki.com/dev/index.html#JavaScript%20Macros). With access to moment.js. Which I load globally for another purpose (in browser mode only for now). It has to be tried.

[2015-07-08 09:20] felixhayashi commented on #14
Hi @kixam

there are several ways to run tw with nodejs.

This is the setup I am using:

say you are in directory `/my/path/`
1. clone the tiddlywiki github repo to `/my/path/tw5/`
2. now to create an empty wiki create a directory somewhere e.g. `/my/path/mywiki/`
3. copy the `tiddlywiki.info` file from `/my/path/tw5/editions/server/` to `/my/path/mywiki/`
4. assuming you are in a bash run (relati

[2015-07-08 10:06] kixam commented on #14
This is all I missed, I already have all the rest, thanks !

[2015-07-08 15:27] silvyn opened #15 "Bug with boxing=auto and display tiddler"
Hello,

With boxing=auto option, there is a visual bug on a tiddler, for exemple :

![hauteur-timeline-tiddler](https://cloud.githubusercontent.com/assets/9981592/8574365/8fe6fffa-2596-11e5-89a4-c58045473f91.png)

[2015-07-08 15:28] kixam commented on #15
thanks for discovering this bug. I will look into it.

[2015-07-08 17:25] silvyn opened #16 "Order list groupTags"
Hi,

Do you know how to order our tag group ?

I have a filter visualisation with 3 tags, but don't use my order list, for example :

`groupTags=[[C_tag1]][[L_tag2]][[R_tag3]]`

- C_tag1
- R_tag3
- L_tag2

I don't know if we can use list ou list-before/after option.

Thanks.

[2015-07-30 11:35] kixam commented on #16
good question. it was supposed to keep the order you provided? it does it for me... it is the order I transmit to  `vis.js` anyway. I will see if I can do something about this.

[2015-07-30 11:36] #14 closed

[2015-07-30 11:36] #15 closed

[2015-07-31 16:57] #16 closed

[2015-07-31 17:15] kixam commented on #12
it seems that, whenever I save a parameter, I trigger an all-out refresh (triggers `$tw.wiki` `change` event), which calls not `timeline.refresh()` but no less than `timeline.render()`... Am I supposed to rewrite the `addTiddler` function to block the refresh process? I could not even find it in the `$core` plugin...

I am trying to save the vertical offset at least when a `navpad` button is click

[2015-08-01 09:48] felixhayashi commented on #12
Hi @kixam

It is hard for me to debug this at the moment.

If only render is called and not refresh this means that your plugin is completely refreshed (either from outside because the parent widget was completely rebuild or, in your case more likely: because it called refreshSelf). In this case refresh is not called anymore...

There is no chance that you can prevent a refresh to happen in tiddly

[2015-08-01 10:48] kixam commented on #12
hi @felixhayashi ,

this is exactly how I have been proceeding. I will keep you posted on any progress I make.

I will check this

[2015-08-01 12:56] felixhayashi commented on #12
Ok, of course I try to help you were it is possible, but I am missing the time for actual debugging – but maybe I can help you out with theoritical answers to tiddlywiki/vis questions.

[2015-08-02 18:56] kixam commented on #12
hi @felixhayashi ,

I was giving an update to all the people interested in this bug.

yes, that is more than enough support for me. This plugin is a hobby to me. I enjoy challenges, and learning in the process of solving them. Do not spend too much time in coding spoiling solutions ;)

I believe your spare time is better spent on your own plugins, before the other's ;) but of course I am always gl

[2015-08-02 19:49] felixhayashi commented on #12
Just one thought, probably unrelated but do you call the destroy function (destructor) of the timeline when the widget is removed? Maybe some listeners remain..

[2015-08-03 09:46] felixhayashi commented on #12
Sorry, it was late and I completely oversaw you last post.

Great to hear that! From what I have seen, you are highly experienced so you will certainly come up with good solutions. Your way of doing it is also of interest for me, I might steal some of your code ;)

Ok, you are right, I just felt that I am a bit responsible because I originally suggested you pick up the development of this plugin.

[2015-09-27 16:40] nicholaslacasse opened #17 "[Question] Config Example"
I cannot get the timeline config to work. Could a full example be provided on the demonstration tiddlywiki?

My timeline tidder has the following inside of it:

[code]

My config tiddler is titled "myconfig" it's type is "application/json" and its contents (and likely the source of the issue) are:

[code]

I do not have any experience with JSON, but I have been looking around a bit and tried many

[2015-09-27 17:40] kixam commented on #17
hi, you need double quotes for both identifier and value (see [here](http://tiddlywiki.com/#JSONTiddlers)). Please try this and let me know about the outcome:

[code]

[2015-09-27 18:05] nicholaslacasse commented on #17
That solved the problem! Thank you very much! :)

[2015-09-27 18:12] #17 closed

[2015-10-06 17:28] erlanger opened #18 "Clicking on timeline tiddler opens the tiddler"
Could we add a feature so that when you double-click on the timeline tiddler title the tiddler opens?

[2015-10-07 16:51] kixam commented on #18
simple click does that already, did you try it?

[2015-10-07 22:30] erlanger commented on #18
Yes, the story view wasn't set to show the newly opened tiddler at the top, so I didn't see it - thanks!!!

[2015-10-07 22:30] #18 closed

[2015-10-08 05:19] erlanger opened #19 "does not render image/jpeg tiddler in icon field"
When a tiddler of type image/jpeg or image/png (I imagine other image types too) is listed in the `icon` field, then the image is not rendered in the timeline. It renders what seems garbage, but I think it is the base64 encoding of the image (base64 is used by tiddlywiki in the data uris).

![untitled](https://cloud.githubusercontent.com/assets/8608855/10358248/17f519b2-6d5a-11e5-8e2b-29d56f299f8c

[2015-10-09 05:12] #19 closed

[2015-10-09 21:31] erlanger commented on #19
@kixam That is great, thank you so much!! Amazing tiddlywiki community.

[2015-10-14 10:18] #13 closed

[2015-10-14 10:24] felixhayashi commented on #13
What a nice idea @kixam to expose it like this `moment(2015-10-14).add(1,days)` and secure it with a regex!

I'll test it the next time. Thanks!

[2015-10-14 10:31] kixam commented on #13
well, the `persistent` option does not accept empty `timeline.start`/`.end` fields now as I introduced a new bug (corrected only on my local copy for now)... Seems it needs further testing... Anyway,  I'm working on #12 now.

[2015-10-14 12:51] #12 closed

[2015-10-14 12:56] kixam commented on #7
after 3 months without any complaint, I will consider this a stable feature. Please open another issue if needed

[2015-10-14 12:56] #7 closed

[2015-10-30 08:44] silvyn opened #20 "Javascript red alert error when I've a timeline on home page at first boot on Firefox"
Hi,

I think it's a timeline vis.js issue, but not sure.

On this example, http://sylvain.naud.in/public/TiddlyWiki/TiddlyWiki-ToDo-Timeline.html, if you put _Timeline_ tiddler to be show when you go home, I've this JavaScript alert error :

![javascript-error](https://cloud.githubusercontent.com/assets/9981592/10841490/f75a7f16-7ee9-11e5-897f-427e54c33e47.jpg)

I can reproduce this every-time whe

[2015-10-30 09:29] kixam commented on #20
hi @silvyn ,

I already bumped into this bug when e.g. I open this plugin's demo page, but I cannot reproduce it as regularly as you seem to be able to. Until I do, I cannot be certain I got rid of it entirely. Can you please investigate more:
- please provide your version of Firefox, maybe also your plugins and OS
- please try on Chrome or other browsers

I could not reproduce the bug on Firefox

[2015-10-30 13:16] silvyn commented on #20
Hello @kixam

I had this issue both on Windows 7 (Firefox 41.0.2) and Gnu/Linux (under Fedora 21).
_(I don't use Chrome with lake of backup TW file, don't try yet plugin discuss on GoogleGroups)_.

I confirm your last comment, about closing popup (3 times) and nothing else happened.

I don't reproduce with your demo page, even if a save a local copy and open it. Now I don't reproduce with my own f

[2015-12-05 17:08] felixhayashi commented on #20
Salut @silvyn @kixam

This fella troubled me as well:

https://github.com/felixhayashi/TW5-TiddlyMap/issues/163

I also created an issue at visjs repo back then:
https://github.com/almende/vis/issues/1088

At one point, I didn't care anymore what is causing this and just killed the error brute force as it did not seem to cause any damage. @kixam, if you want to prevent this, just copy paste the co

[2015-12-05 17:26] kixam commented on #20
Hallo @felixhayashi ,

Thank you ! That should do it I guess.

However, if it is somehow related to vis.js library or the vis.js plugin, maybe it would be more appropriate and less redundant to put the code in the vis.js plugin and not in derived plugins like TiddlyMap or Timeline ?

[2015-12-15 13:31] felixhayashi commented on #20
Hi @kixam

Sorry for the late response.

I hadn't done this so far because I was not sure whether it is my code that is causing this or the visjs/firefox. What you propose makes sense because it is rather unlikely that both our code produce this error independent from vis.js. So I'll add it once I find the time and ping back once it's done so you can remove the code from your plugin.

-Felix

[2015-12-15 13:58] kixam commented on #20
hi @felixhayashi ,

if I have some time before you do, I will propose a merge for your Vis.js plugin :)

[2016-01-05 10:23] #20 closed

[2016-05-09 02:23] UXlibrarian opened #21 "Button to Sort/Filter by Tag or Name?"
Hello!

Thank you for continuing the work of this plugin. I've spent _a lot_ of time and money searching for the best timeline software to suit my needs. This plugin is like 90% of the way there.

Do you know if it is possible to create a sortable/filterable view? For instance, on my timeline, I have five different groups (American, Spaniard, English, etc.) which are tags. In each tag, I have peop

[2016-05-09 08:52] kixam commented on #21
Hi @UXlibrarian ,

Thank you for using this plugin, it helps to know that your work is also useful to other people. Also, it is good to have feedback regarding different use cases.

Regarding your question, I actually did something that might cover your need for my own use case. I added check boxes on top of the calendar that builds a dynamic filter for it. I did not try to use a text input field

[2016-05-10 01:19] UXlibrarian commented on #21
Hello!

_Thank you._ I appreciate your time very much. I was praising your plugin over on Twitter earlier, so I hope you have more people showing up to use it. :-)

I copied the code you gave me into a new tiddler (w/o choosing content type). When I click on the checkboxes, I see the Calendar tiddler jump/refresh every time I click a checkbox. Yet nothing changes. The new tiddler which has your co

[2016-05-10 09:17] kixam commented on #21
Hi,

My code was designed to be implemented in the same tiddler that it is supposed to affect. That means you are not supposed to put it in a tiddler named "Calendar with Filter" , because as it is, it is reading and writing from/to fields of the tiddler named "Calendar" (like you could observe yourself). Also, the trick is when fields change values, the tiddler to which they belong gets refreshed

[2016-05-11 02:43] UXlibrarian commented on #21
This time I put your code into my one tiddler and it worked like a charm. It's like magic! For anyone who reads this later, I had these fields in my person tiddlers: born, died. This way you see a true timeline of their life length. Which in my final code looks like this:

<$visjstimeline startDateField="born" endDateField="died" format="YYYY"  filter="[tag{Calendar!!American}] [tag{Calendar!!Span

[2016-05-11 02:43] #21 closed

[2016-05-11 07:49] kixam commented on #21
Thank you.

I have 5 checkboxes on mine and everything works as expected... do your fields have different names? did you change the checkboxes code and the calendar (`<$visjstimeline .. />`) code, in unison?

[2016-05-12 02:30] UXlibrarian commented on #21
Annnnnnd I'm an idiot. I copied the last checkbox multiple more times and forgot to change English to the other terms. I got the label name changed, but not the interior.

[2016-07-08 03:18] UXlibrarian opened #22 "Show start and end in the description hover"
Hello! I've been enjoying putting your plugin through the paces. It's very impressive. My question is in regards to show the start/end in the hover. I have 268 people in my timeline and it's a little difficult to tell their birth/death since it doesn't clearly show on the timeline itself. While it is simple enough to click on their name to open their tiddler, I thought it'd be even easier if the d

[2016-07-13 12:01] kixam commented on #22
hi @UXlibrarian,

ATM there is none, but I am looking into it.

[2016-07-26 19:26] silvyn opened #23 "Bug with persistent (or with option config tiddler)"
Hello @kixam

If you read the forum, I"ve poke you about a question on how to made a persistent view. I've tested with your usage doc, and if I've succed once, but I have a bug on my timeline after.

https://forum.tiddlywiki.fr/t/timeline-comment-definir-une-vue-de-depart/182/4?u=sylvain

Maybe I don't use config json option correctly. Do you have a demo example ?

I upload my demo wiki of DatePic

[2016-08-04 14:55] kixam commented on #23
Hi, I am a bit "unplugged" during summer, I will look into it ASAP

[2016-09-05 20:11] K0ertis opened #24 "hiddenDates"
Hi! I am trying to add the option "hiddenDates". My tiddler (application/json) "TimeConfig" looks like:

[code]

my Timeline looks like:

[code]

I have tried forgivingly to switch to the other date format which I am using in my Timeline : `20160903000000000`
If I edit the timeline again to update it, nothing happens. What am I doing wrong? None of my configs from your _whitelist_ works.
Other que

[2016-09-18 18:28] kixam commented on #24
hi @K0ertis,

you need to manually set TimeConfig tiddler as "application/json" in the dropdown list at the bottom of the edit mode frame.

then, this tiddler has to contain only valid JSON. In your case, that would be:

[code]

your errors:
- `var options =` is JavaScript, not JSON; also, the plugin already assumes that the entire content of your tiddler is `options`;
- in JSON, all key names, as

[2016-09-19 07:15] K0ertis commented on #24
Hi! Thank you very much for this explanation, now it works. In your example there is a simple quote before **2016-09-03 00:00:00** too much.
How can I add a second statement to eliminate the hours between 19:00 and 07:00 daily. It will not work like that:

[code]

[code]

[2016-09-19 09:08] kixam commented on #24
according to visjs.org documentation, you are almost there.

I think this would work:

[code]

remember config must be a dictionary `{ }`, not an array `[ ]`

[2016-11-26 12:41] #24 closed

[2016-11-26 13:54] #22 closed

[2016-12-25 01:07] ghost commented on #23
Hi,
I've updated this plugin to see if this problem had been solved but it seems not. Is there some sort of temporary workaround while the problem is adressed?

[2016-12-26 19:39] kixam commented on #23
hi @Acknar ,

Sorry but I cannot find a solution to this issue. I thought I had solved it in the past, and it occurred that I did not really. Now, I would need to go yet deeper into TW and vis.js refresh mechanisms, but my work is taking me too much brain/time ATM. I would be happy to take any advice or merge any improving code that you users might have though.

In the meantime, maybe you could us

[2016-12-26 21:48] ghost commented on #23
Thanks for the reply. I'm afraid my coding knowledge is more than insufficient for this level of programming so i'll just display the full timeline for now. If I ever find a way to work around this bug, i'll be sure to post a message here :)

[2017-01-15 20:09] kixam commented on #23
Hi everybody,

I have come up with a better workaround that I hope might satisfy some of you. The idea is to filter out tiddlers that are out of target scope from the timeline, and dynamically select said scope by using 2 fields of the calendar tiddler.

1. For people who need a timeline bound by arbitrary dates, I tested the following:

1.1. install my [datepicker plugin](https://github.com/kixam

[2017-01-17 01:34] ghost commented on #23
I tried the first method and it works although i'm not exactly convinced by the functionnality.
Since the timeline is dynamic, I expected to see the filter automatically change to fit the zoom (but in hindsight, I imagine that must be impossible or at least quite difficult to implement).
Filling in the dates at the top works only once refreshed.
The filter eleminates a lot of my tiddlers that span

[2019-07-19 21:28] mauloop opened #26 "moment.js plugin version differs from DatePicker's one"
Hi, Kixam.

I would like to add visjsTimeline plugin to my wiki, which also makes use of DatePicker plugin. I have moment.js plugin already installed, since it was required by DatePicker. I see that moment.js rel provided with visjsTimeline is 2.23.0, while the one I installed with DatePicker was 2.18.1.

Is it safe to update moment.js and have both DatePicker and visjsTimeline installed in the sa

[2019-08-10 10:52] kixam commented on #26
Hi @mauloop ,

I think it should, but I do not know of any other plugin that has moment.js as a dependency, so it really is not necessary to update it. I will rebuild all demos with the latest plugins for peace of mind.

[2019-08-10 10:52] #26 closed

[2019-08-16 21:03] kixam opened #27 "[REGRESSION] pointer actions (touch, drag, ...) are broken"
Version 0.7.9 of this plugin depends on the last version of vis.js ever to be made available, and seems to work fine.

However, the original vis.js plugin is now deprecated, because the library it exposes has been, and was splitted into separate, independent projects.

Version 0.8.0 of this plugin depends on the new vis-timeline independent library, which depends on hammer.js library for all point

[2019-08-31 12:13] kixam commented on #27
fixed in 8ee4bb0870ce0675c730cd3b0d14618484829152

[2019-08-31 12:13] #27 closed

[2019-08-31 19:42] #23 closed

[2020-12-20 17:27] jerojerojeroppi opened #28 "How to modify first day of week in the zoomable calendar?"
Hi.
I would like to know:
How can I set Monday as the first day of the week  in the zoomable calendar when using TW5-visjsTimeline?
(Sunday appears now as the first day of the week.)
Thank you very much.
Jero